/* ProductForm.module.css */

.formContainer {
  position: relative;
    background-color: #FFF;
  }
  
  .imglabel {
    display: flex;
    margin-left: 800px;
    color: var(--black, #191A1C);
    font-family: "Pretendard Variable";
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .label{
    color: var(--black, #191A1C);
    font-family: "Pretendard Variable";
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .selectImg{
    margin-left: 800px;
    margin-top: 30px;
    border-radius: 10px;
  }

  .margins{
    margin-left: 800px;
    margin-top: 30px;
  }
  
  .inputField {
    display: flex;
    width: 840px;
    height: 60px;
    border-radius: 10px;
    border: 1.5px solid var(--gray-400, #BEC0C6);
    background: #FFF;
    margin-top: 30px;
  }

  .selectField {
    margin: 10px;
    width: 20%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
 }
  .button {
    margin-left: 720px;
    margin-top: 54px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 1000px;
  }
  