
.headerContainer {
    display: flex;  
    align-items: center; 
    background: #FFFFFF;
    height: 130px;
    border: none;
    position: sticky;
    top: 0;
    z-index: 2;
  }
  
  .logo {
    color: var(--black, #191A1C);
    font-family: "Gmarket Sans TTF";
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: auto;
    height: 64px;
    margin-left: 144px;
    border: none;
    display: flex;
    align-items: center; 
    cursor: pointer;
  }
  .navItem {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1; 
  }

  .navItem2 {
    margin-right: 20px;
  }
  
  
  @media screen and (max-width: 786px){
    .headerContainer {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .logo {
      margin-left: 30px;
      font-size: 1rem;
    }
  
    .navItem {
     
    }
  
    .navItem2 {
      display: flex;
      font-size: 0.5rem;
      margin-top: 10px;
      margin-left: 87%;
      position: absolute;
    }
  
  }
