.headerContainer {
    display: flex;
    background: #FFF;
    height: 130px;
    /* width: 1440px; */
    flex-shrink: 0;
    border: 0px;

  }
  
  .logo {
    color: var(--black, #191A1C);
    font-family: "Gmarket Sans TTF";
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 144px;
    height: 44px;
    margin-left: 244px;
    margin-top: 43px;
    cursor: pointer;
  }