

.pageContainer {
    background: #F3F5FA;
    height: 200%;
  }
  
  .flexSection1 {
    height: 246px;
    background: #456AE2;
    border: 0;
  }
  
  .flexSection2 {
    background: #F3F5FA;
    position: relative;
    margin-top: 0px;
  }
  
  
  .buttonContainer {
    position: absolute;
    right: 5px;
    margin-bottom: 20px; /* 버튼과 다른 컨텐츠 사이의 간격 조절을 위한 마진 추가 */
  }
  
  .button {
      padding: 10px 20px;
      font-size: 16px;
      background-color: #9ebbc3; /* 배경색 */
      color: white; /* 글자색 */
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease; /* 마우스 오버 효과 */
    }
    
    .button:hover {
      background-color: #45a049; /* 마우스 오버시 배경색 변화 */
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* 그림자 효과 */
    }
    
    .cateSticky{
      position: sticky;
      top: 150px;
      z-index: 1;
    }
  
    .categoryTitle{
      position: absolute;
      width: 175px;
      height: 60px;
      flex-shrink: 0;
      border-radius: 10px 10px 0px 0px;
      border: 1px solid var(--gray-400, #BEC0C6);
      background: var(--gray-200, #F4F5F9);
      margin-left: 153px;
      
    }
    .categoryText{
      color: var(--black, #191A1C);
      font-family: "Pretendard Variable";
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      margin-left: 20px;
      margin-top: 18px;
    }
  
    .categoryForm{
      position: absolute;
      width: 175px;
      height: 338px;
      flex-shrink: 0;
      margin-top: 60px;
      margin-left: 153px;
      border: 1px solid var(--gray-400, #BEC0C6);
      background: #FFF;
    }
  
    .Checkboxes{
      width: 22px;
      height: 22px;
  flex-shrink: 0;
  border: 1px solid var(--gray-400, #BEC0C6);
  margin-top: 18px;
  margin-left: 20px;
    }
   
  
    .cateMg{
      display: flex;
      
    }
  
    .cateTexts{
      color: var(--gray-800, #737A8D);
  font-family: "Pretendard Variable";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 8px;
    }

    .cateminibtn{
      display: none;
    }


    .pagination {
      margin-left: 45%;
      margin-top: 50px;
  }
  .pagebtn{
    color: var(--gray-400, #BEC0C6);
  font-family: "Pretendard Variable";
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background-color: #F3F5FA;
  border: 0;
  padding-left: 30px;
  cursor: pointer;
  }



  @media screen and (max-width: 786px) {
    
      .cateminibtn{
        display: flex;
      }
    
      
    .pageContainer {
      background: #F3F5FA;
      height: 200%;
    }
    
    .flexSection1 {
      height: 246px;
      background: #456AE2;
      border: 0;
    }
    
    .flexSection2 {
      background: #F3F5FA;
      position: relative;
      margin-top: 0px;
    }
    
    
    .buttonContainer {
      position: absolute;
      right: 0px;
      margin-top: -50px;
    }
    
    .button {
        padding: 5px 10px;
        font-size: 16px;
        background-color: #9ebbc3; /* 배경색 */
        color: white; /* 글자색 */
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease; /* 마우스 오버 효과 */
      }
      
      .button:hover {
        background-color: #45a049; /* 마우스 오버시 배경색 변화 */
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* 그림자 효과 */
      }
      
      .categorySlider {
        transform: translateX(-100%); /* 왼쪽으로 이동하여 숨깁니다. */
      }
      

      .cateSticky{
        position: sticky;
        top: 70px;
        z-index: 1;
      }
    
      .categoryTitle{
        display: none;
        position: absolute;
        width: 175px;
        height: 60px;
        flex-shrink: 0;
        border-radius: 10px 10px 0px 0px;
        border: 1px solid var(--gray-400, #BEC0C6);
        background: var(--gray-200, #F4F5F9);
        margin-left: 153px;
        
      }
      .categoryText{
        display: none;
        color: var(--black, #191A1C);
        font-family: "Pretendard Variable";
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-left: 20px;
        margin-top: 18px;
      }
    
      .categoryForm{
        display: none;
        position: absolute;
        width: 175px;
        height: 338px;
        flex-shrink: 0;
        margin-top: 60px;
        margin-left: 153px;
        border: 1px solid var(--gray-400, #BEC0C6);
        background: #FFF;
      }
    
      .Checkboxes{
        width: 22px;
        height: 22px;
    flex-shrink: 0;
    border: 1px solid var(--gray-400, #BEC0C6);
    margin-top: 18px;
    margin-left: 20px;
      }
     
    
      .cateMg{
        display: flex;
        
      }
    
      .cateTexts{
        color: var(--gray-800, #737A8D);
    font-family: "Pretendard Variable";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 8px;
      }
  
      .pagination {
        margin-left: 40%;
        margin-top: 50px;
    }
    .pagebtn{
      color: var(--gray-400, #BEC0C6);
    font-family: "Pretendard Variable";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background-color: #F3F5FA;
    border: 0;
    padding-left: 30px;
    cursor: pointer;
    }
  }